{% extends 'navbars/financeactions.html' %}
{% block content %}
<style>
    h2{
        text-align: center;
        text-transform: uppercase;
    }
    #message{
        text-align: center;
        color: blue;
        font-weight: 800;
        text-transform: uppercase;
        padding: 10px;
    }
</style>
<h2>Donor list page</h2>
{% for message in messages %}
<p id="message">{{message}}</p>
{% endfor %}
<form method= 'post'class="d-flex" role="search">
  {% csrf_token %}
  {{ myFilter.form.as_p }}
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<table style="margin-top: 20px;" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Donor ID</th>
        <th scope="col">DonorName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date added</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% if donors %}

    {% for donor in donors %}
    <tbody>
      <tr>
        <td>{{donor.id}}</td>
        <td>{{donor.donorName}}</td>
        <td>{{donor.donorEmail}}</td>
        <td>{{donor.donorPhone}}</td>
        <td>{{donor.date_added}}</td>
        <td>
            <a href="{% url 'edit_donor' donor.id  %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'add_fee_commitment' donor.id  %}" class="btn btn-primary">Add Fee Commitment</a>
            <a href="{% url 'delete_donor' donor.id  %}" class="btn btn-danger">Delete</a>
            
        </td>
      </tr>
    {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      <tr>
        <td colspan="6">No Donors found</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
{% endblock %}