{% extends 'navbars/dataentryactions.html' %}
{% block content %}
<style>
    #message{
        text-align: center;
        color: blue;
        font-weight: 800;
        text-transform: uppercase;
        padding: 10px;
    }
</style>
<h2 style="text-align: center;">Lotus Student Beneficiaries</h2>
<div class="main">
    {% for message in messages %}
    <p id="message">{{message}}</p>
    {% endfor %}
    <form method= 'get'class="d-flex" role="search">
            {% csrf_token %}
            {{ my_filter.form.as_p }}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
    <table style="margin-top: 20px;" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">StudentID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Intermediary</th>
            <th scope="col">Donor</th>
            <th scope="col">School</th>
            <th scope="col">DateofBirth</th>
            <th scope="col">Date Added</th>
            <th>Actions</th>
          </tr>
        </thead>
        {% if students %}

        {% for student in students %}
        <tbody>
          <tr>
            <td>{{student.id}}
                <a href="{% url 'student_profile' student.id %}"class="btn btn-primary">Profile</a>
            </td>
            <td>{{student.studentName}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.intermediary}}</td>
            <td>{{student.donor}}</td>
            <td>{{student.school}}</td>
            <td>{{student.dateofbirth}}</td>
            <td>{{student.date_added}}</td>
            <td>
                <a href="{% url 'edit_student' student.id %}"class="btn btn-primary">Edit</a>
                <a href="{% url 'deletestudent' student.id %}"class="btn btn-danger">Delete</a>
                
            </td>
          </tr>
        </tbody>
        {% endfor %}
        {% else %}
        <tbody>
          <tr>
            <td colspan="10">No students found</td>
          </tr>
        </tbody>
        {% endif %}
      </table>
</div>
{% endblock %}