{% extends 'navbars/indexnavbar.html' %}
{% block content %}
<style>
    .main .content{
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
  }
  .main .form{
      padding: 30px;
      border-radius: 10px;
      display: grid;
      place-content: center;
      grid-template-columns: auto;
      font-size: 30px;
      background: #fff;
      font-weight: 600;
  }
  .main .form form input{
      font-size: 15px;
      height: 20px;
  }
  .main .form form input:focus{
    outline-color: blue;
  }
  .main .form form input[type= submit]{
      background: aqua;
      height: 30px;
      border: 0px solid;
      font-weight: 600;
      text-transform: uppercase;
      padding: 10px;
      border-radius: 10px;
      color: red;
      transition: all 0.5s ease;    
  }
  .main .form form input[type= submit]:hover{
      background: black;
      color: #fff;
  
  }
  .main .reset a{
      color: blue;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.5s ease;
  }
  .main .reset a:hover{
      color: rgb(255, 0, 43);
  }
  .message{
      color: red;
      background: aqua;
      padding: 10px;
      margin-top: 10px;
  
  }
  
  </style>
  <div class="main">
      <div class="form">
        <p>Forgotten Your Password? Enter Your Email Address and We will Email You the necessary Instaructions on how to reset your password </p>
          <form method="post">
            {% csrf_token %}
            {{ form }}
            
              <input type="submit" value="login">
          </form>
      </div>
  
  </div>

{% endblock %}