{% extends 'navbars/dataentryactions.html' %}
{% block content %}
<style>
    h2{
        text-align: center;
    }
    form{
        margin: 20px;
        padding: 20px;
        background: aqua;
        border-radius: 10px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        font-size: 1em;
    }
    form input:focus{
        outline: blue;
    }
</style>
<h2>Add Student Form</h2>
<div class="main">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}