{% extends 'navbars/dataentryactions.html' %}
{% block content %}
<style>
    h2{
        text-align: center;
    }
    .main{
        margin: 20px;
        padding: 20px;
        background: aqua;
        border-radius: 10px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        font-size: 1em;
    }
    .main form{
        font-weight: 600;        
    }
    .mb-4{
        margin: 10px;
    }
</style>
<h2>Add Student Form</h2>
<div class="main">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            {{form.studentName.label_tag}}
            {{form.studentName}}
        </div>
        <div class="mb-4">
            {{form.gender.label_tag}}
            {{form.gender}}
        </div>
        <div class="mb-4">
            {{form.dateofbirth.label_tag}}
            {{form.dateofbirth}}
        </div>
        <div class="mb-4">
            {{form.phone.label_tag}}
            {{form.phone}}
        </div>
        <div class="mb-4">
            {{form.school.label_tag}}
            {{form.school}}
        </div>
        <div class="mb-4">
            {{form.intermediary.label_tag}}
            {{form.intermediary}}
        </div>
        <div class="mb-4">
            {{form.donor.label_tag}}
            {{form.donor}}
        </div>
        <div class="mb-4">
            {{form.level.label_tag}}
            {{form.level}}
        </div>
        <div class="mb-4">
            {{form.position.label_tag}}
            {{form.position}}
        </div>
        <div class="mb-4">
            {{form.backgroundInfo.label_tag}}
            {{form.backgroundInfo}}
        </div>
        <div class="mb-4">
            {{form.profilePic.label_tag}}
            {{form.profilePic}}
        </div>        
        <button class="btn btn-primary" type="submit">Save</button>
        
    </form>
</div>
{% endblock %}