{% extends 'navbars/indexnavbar.html' %}
{% block content %}

<style>
    .main{
        padding: 100px;
    }
    .main .content{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }
    .main.content span .motto{
        color: brown;
        font-weight: 700;
    }
</style>


<div class="main">
    <div class="content">
        <h2>Welcome to Lotus Education Program, <span class="motto">Where education is the key to unlocking the potential of every human being.</span></h2>
    </div>
</div>
{% endblock %}