{%  extends 'navbars/financenavbar.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete Donor ID number"<b>{{ donor.id }}</b><h2 style="color: red;">{{ donor.donorName }}</h2>?</p>

			<form action="{% url 'delete_donor' donor.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-info" href="{% url 'donor_list' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}