{%  extends 'navbars/financenavbar.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete Employee ID number"<b>{{ employee.id }}</b> <h2 style="color: red;">{{ employee.employeeName }}</h2>"?</p>

			<form action="{% url 'delete_employee' employee.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-info" href="{% url 'employee_list' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}