{%  extends 'navbars/dataentrynavbar.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete Student ID number"<b>{{student.id}}</b> <h2 style="color: red;">{{ student.studentName }}</h2>?</p>

			<form action="{% url 'deletestudent' student.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-info" href="{% url 'students' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}